*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Creates a smooth animation when clicking on the header links */
html{
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    width: 100vw;
    
}

header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #31343d;
  color: #91cbcd;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1{
  background-color: #91cbcd;
  color: #31343d;
  padding: .5%;
  padding-left: 3%;
  font-size: 300%;
}

header a{
  color: inherit;
  text-decoration: none;
  
}

header nav{
  display: flex;
  justify-self: flex-end;
  
}

nav ul {
    display:flex;
    justify-content: space-around;
    min-width: 500px;
    margin-right: 10%;
    
}

nav li {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  text-decoration: underline 3px;
}

nav a {
    display:relative;
    color: #91cbcd;
    font-size: 150%;
}

.mainphoto{
  height: 25vh;
  width: 100vw;
  position: relative;
  text-align: center;
}

/* Sets location of subtitle card */
.subtitle{
  position: relative;
  font-size: 50px;
  bottom: 100px;
  margin-bottom: 20px;
  background-color: #91cbcd;
  margin-left: 65%;
  margin-right: 24%;
  color: #31343d;
  left: 14%;
}





section {
    display:flex;
    align-items: center;
    flex: 1 1 0;
    padding-right: 5%;
    width: 100vw;
    margin-bottom: 100px;
}




 /* sets fonts and size for Section cards  */
.namecard{
  font-size: 60px;
  margin-left: 10%;
  margin-right: 10%;
  border-right: 4px solid #31343d;
  color: #31343d;
}

.aboutme {
  margin-top: 200px;
}

.summary{
  margin-top: 4%;
  margin-right: 4%;
}
  

  
/* Sets up project boxes to be shown in a grid. */
.container{
      min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  }

  .container > div {
    display: flex; 
    flex-basis: 40%;;  
    justify-content: center;
    flex-direction: column;
    }

    .container > div > div {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    .box{
      margin: 2px;
      padding: 1px;
    }

    .projectnamecard{
      position: relative;
      font-size: 35px;
      bottom: 100px;
      color: #31343d;
      background-color: #91cbcd;
      margin-right: 40%;
      margin-left: 13%;
      
    }

    .hover{
      opacity:.5;

    }

  /* Makes boxes become completly visible when hovering over. */
  .hover:hover{
    transition: all 0.9s;
    opacity:1;
    
}   

footer {
  display:flex;
  align-items: center;
  color: #31343d;
  width: 100vw;
}

footer ul {
  display:flex;
  justify-content: space-between;
}

footer li {
display: flex;
justify-content: space-around;
text-decoration: underline 3px;
color: inherit;
font-size: 30px;
margin: 10%;
}

footer a{
  color: inherit;
}

footer span {
  font-display: row;
}







/* Changes page to adjust to a mobile browser setup */
@media screen and (max-width: 1000px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    footer ul {
      flex-direction: column;
    }

    footer{
      font-size: 30px;
    }

    .container {
      flex-direction: column;
    }

    .namecard {
      font-size: 30px;
    }
    .subtitle{
      left: 0%;
      margin-right: 2%;
    }
  }


